.wrap {
  display: flex;
  gap: 16px;
}

.good {
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  padding: 2px 10px;
  border-radius: 4px;
  border-width: 1px;
}

.good:hover {
  color: rgb(0, 255, 0);
  box-shadow: 0 5px 7px -1px rgba(0, 255, 0, 0.5);
}

.neutral {
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  padding: 2px 10px;
  border-radius: 4px;
  border-width: 1px;
}

.neutral:hover {
  color: rgb(0, 0, 255);
  box-shadow: 0 5px 7px -1px rgba(0, 0, 255, 0.5);
}

.bad {
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  padding: 2px 10px;
  border-radius: 4px;
  border-width: 1px;
}

.bad:hover {
  color: rgb(255, 0, 0);
  box-shadow: 0 5px 7px -1px rgba(255, 0, 0, 0.5);
}
