.numbers {
  font-weight: 700;
  margin-left: 10px;
}

.good {
  text-transform: capitalize;
  margin: 0;
  width: 220px;
  padding: 16px;
  display: block;
  background-color: rgba(0, 255, 0, 50%);
}

.neutral {
  text-transform: capitalize;
  margin: 0;
  width: 220px;
  padding: 16px;
  display: block;
  background-color: rgba(0, 0, 255, 50%);
}

.bad {
  text-transform: capitalize;
  margin: 0;
  width: 220px;
  padding: 16px;
  display: block;
  background-color: rgba(255, 0, 0, 50%);
}
